{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2 class="text-center">Salary Report</h2>
    <form method="POST">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col col-lg-2">
            <label for="start-date" class="form-label">Start Date</label>
            <input type="date" name="start_date" class="form-control" id="start-date" required>
        </div>
        <div class="col col-lg-2">
            <label for="end-date" class="form-label">End Date</label>
            <input type="date" name="end_date" class="form-control" id="end-date" required>
        </div>
        <div class="col col-lg-1 d-flex align-items-end">
            <button class="btn btn-success d-flex" type="submit">Show </button>
        </div>
    </div>
    </form>

    <div class="row">
        
        <div class="col col-lg-6 m-auto">
            <table class="table table-striped table-hover mt-4">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Department Name</th>
                    <th scope="col">Salary</th>
                </tr>
                {% for department in departments %}
                <tr>
                    <th>{{forloop.counter}}</th>
                    <td>{{department.department_name}}</td>
                    <td>{{department.total_salary}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock content %}
