{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="row">
<div class="col col-lg-8 m-auto mt-5 p-2">
    <h2 class="m-4 text-center">Update Employee</h2>
    <form class="row g-3" method="POST">
        {% csrf_token %}
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Name</label>
            <input type="name" value="{{employee.name}}" name="name" class="form-control" id="inputName" required>
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" name="email" value={{employee.email}} class="form-control" id="inputEmail4" required>
        </div>
        <div class="col-12">
            <label for="inputAddress"  class="form-label">Address</label>
            <input type="text" name="address" value="{{employee.address}}" class="form-control" id="inputAddress" placeholder="" required>
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">Designation</label>
            <select id="inputState" value="{{employee.designation}}" name="designation" class="form-select" required>
            {% for choice in designation_choices %}
                <option value="{{ choice.0 }}" {% if choice.0 == employee.designation %}selected{% endif %}>{{ choice.1 }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">Report to</label>
            <select id="inputState" value="{{employee.reporting_manager}}" name="reportto" class="form-select">
                {% for employee in all_employees %}
                    {% if employee.designation == 'TL' or employee.designation == 'Manager' %}
                        <option value="{{employee.id}}">{{ employee.name }}</option> 
                    {% else %}
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">Department</label>
            <select id="inputState" value="{{employee.department}}" name="department" class="form-select" required>
                {% for department in departments %}
                    <option value="{{ department.id }}">{{ department.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
    </div>
</div>
</div>

{% endblock content %}