{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col col-lg-12 m-auto">
            <h2 class="text-center mt-2">Check Hierarchy</h2>
            <div class="container">
                <div class="row">
                    <div class="col col-lg-10">
                        <h2>Department : {{department}}</h2>
                        <h3>Manager : {{manager}}</h3>
                        
                    </div>
                </div>
            </div>
            <h4 class=" mt-4">Employees : </h4>
            <table class="table table-striped table-hover">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Designation</th>
                </tr>
                {% for employee in employees %}
                <tr>
                    <th>{{employee.id}}</th>
                    <td>{{employee.name}}</td>
                    <td>{{employee.email}}</td>
                    <td>{{employee.address}}</td>
                    <td>{{employee.designation}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock content %}
