{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col col-lg-8 m-auto">
            <h2 class="text-center mt-2">Salary</h2>
            <a href="/add/salary/" class="btn btn-success"><i class="fa-solid fa-money-bill"></i> Add Salary</a>
            <a href="/department/salary/" class="btn btn-warning"><i class="fa-solid fa-file"></i> Department Report</a>
            <table class="table table-striped table-hover mt-4">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Salary</th>
                    <th scope="col">From </th>
                    <th scope="col">To</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                {% for sal in salary %}
                <tr>
                    <th>{{forloop.counter}}</th>
                    <td>{{sal.employee}}</td>
                    <td>{{sal.salary}}</td>
                    <td>{{sal.start_date}}</td>
                    <td>{{sal.end_date}}</td>
                    <td><a href="/edit/salary/{{sal.id}}" class="btn btn-sm btn-info">Edit</a></td>
                    <td><a href="/delete/salary/{{sal.id}}" class="btn btn-sm btn-danger">delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock content %}
